In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tslearn.utils import to_time_series_dataset, save_timeseries_txt
from tslearn.clustering import TimeSeriesKMeans
from tslearn.preprocessing import TimeSeriesScalerMeanVariance, TimeSeriesResampler

data = "D:/DKE STUDIUM/4th Semester/DBSE Team project/train_1.csv/train_1_50ts.csv"
train = pd.read_csv(data, nrows=100)
train.head()
#train.drop('Page', axis=1, inplace=True)
#data1 = np.genfromtxt(train, dtype='unicode', delimiter=',', names=None)

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36,10.0

In [3]:
from tslearn.clustering import TimeSeriesKMeans
import tslearn.utils

train.fillna(value=0, inplace=True) #replace all the NaN values with Zero's in a column of a pandas dataframe
ts = to_time_series_dataset(train.as_matrix(columns=train.columns[520:]))
save_timeseries_txt("C:/Users/Dell/Desktop/ts_test2.txt", ts)
km = TimeSeriesKMeans(n_clusters=5, metric="dtw", max_iter=5, max_iter_barycenter=5, verbose=False, random_state=0).fit(ts)
#print(ts)
#print('Cluster centroids: ')
#print(km.cluster_centers_)
save_timeseries_txt("C:/Users/Dell/Desktop/ts_km.txt", km.cluster_centers_)